#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}
#myCarousel
{
    background:linear-gradient(rgb(16, 131, 16),rgb(13, 160, 123),rgb(4, 161, 148),rgb(153, 240, 13));
    border:1px  solid yellow;
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-bottom: 15px;
    margin-top: 15px;
    color : white;
    font-size: 20px;
}

#myCarouse2
{
    background-color: #b5d0d4;
}

#myCarouse2 img
{
    height: 300px;
    margin-top: 35px;
}
